@import "tailwindcss";

/* FONTS */

@font-face {
  font-family: 'NoirdenBold';
  src: url('./assets/fonts/NoidenBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeometricBlack';
  src: url('./assets/fonts/NeometricBlack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeometricExtraBold';
  src: url('./assets/fonts/NeometricExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeometricMedium';
  src: url('./assets/fonts/NeometricMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeometricBold';
  src: url('./assets/fonts/NeometricBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* APP.CSS */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.split-parent {
  font-size: 150px; 
  font-family: 'NeometricExtraBold', helvetica;
  color:rgb(7, 7, 7)
}

img {
  -webkit-tap-highlight-color: transparent;
}

/* .arnavGhost {
  display: inline-block;
  width: 700px; 
  height: 190px;
  position: relative;
  display: block;
  filter: none !important;
  box-shadow: none !important;
  opacity: 1 !important;
}

.ghost,
.ghost-wink {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.ghost-wink {
  opacity: 0;
}

.arnavGhost:hover .ghost {
  opacity: 0;
}

.arnavGhost:hover .ghost-wink {
  opacity: 1;
} */