@import "tailwindcss";

/* FONTS */

@font-face {
  font-family: 'NoirdenBold';
  src: url('./assets/fonts/NoidenBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeometricBlack';
  src: url('./assets/fonts/NeometricBlack.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeometricExtraBold';
  src: url('./assets/fonts/NeometricExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeometricMedium';
  src: url('./assets/fonts/NeometricMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeometricBold';
  src: url('./assets/fonts/NeometricBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeometricAltMedium';
  src: url('./assets/fonts/NeometricAltMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* APP.CSS */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.name {
  font-family: 'NeometricExtraBold', helvetica;
  color:rgb(233, 233, 233)
}

img {
  -webkit-tap-highlight-color: transparent;
}

/* Custom thin scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}

