#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.split-parent {
  font-size: 102px; 
  font-family: 'NoirdenBold', helvetica;
}

/* FONTS */

@font-face {
  font-family: 'NoirdenBold';
  src: url('./assets/fonts/Noiden-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}